.mainHeader {
    text-align: center;
    font-size: 16px;
    padding: 20px 50px 0 50px;
}

.canvasOptions {
    text-align: center;
    padding: 30px 0 0 0;
}

.svgIcon {
    width: 14px !important;
    height: 14px;
}