.container {
    display: flex;
    flex-direction: row;
    margin: 8px 10px;
}

.content {
    padding-left: 20px;
}

.taskName {
    font-weight: bold;
}

.taskCreatedOn {
    padding: 8px 0;
    font-size: 0.9rem;
}

.taskEmail {
    font-size: 0.9rem;
}

.canvas {
    border: 2px solid black;
}

.decisionButton {
    padding-top: 10px;
}
