.container {
    display: flex;
    flex-direction: row;
    margin: 8px 10px;
}

.content {
    padding-left: 20px;
}

.taskName {
    font-weight: bold;
}

.taskClass {
    padding: 8px 0;
    font-size: 0.9rem;
}

.taskEmail {
    font-size: 0.9rem;
}
